* { margin:0; padding:0; }

body {
  background-color:#c8e3de;
  font-family:dosis;
} 

#header {
  background-color:#d9eeea;
  padding-top:2em;
  padding-bottom:1.5em;
}

h1 {
  text-align:center;
  text-transform:uppercase;
  color:#555;
  font-size:4em;
  cursor:default;
}

h2 {
  text-align:center;
  color:#777;
  font-size:1.5em;
  text-transform:uppercase;
  font-weight:300;
  cursor:default;
}

#content {
  background-color:rgba(0,0,0,0.1);
  padding:2em 0;
}

.corset {
  margin:0 5%;
}

.box {
  margin:0.5em;
  padding:1.5em 0;
  text-align:center;
  overflow:hidden;
  background-color:#d3e69f;
  border-radius:6px; -webkit-border-radius:6px; 
  color: #555;
  font-size:1.2em;
  white-space: pre;
}

.divider {
    background-color:rgba(0,0,0,0.1);
    height:2px;
    margin:10px 0;
}

#content .corset div:nth-child(5n+1) .box { background-color:#d9eeea; }
#content .corset div:nth-child(5n+2) .box { background-color:#d9eeea; }
#content .corset div:nth-child(5n+3) .box { background-color:#d9eeea; }
#content .corset div:nth-child(5n+4) .box { background-color:#d9eeea; }
#content .corset div:nth-child(5n+5) .box { background-color:#d9eeea; }

#footer {
  padding-top:4em;
  text-align:center;
  padding-bottom:8em;
}

#download {
  text-align:center;
  text-transform:uppercase;
  color:#444;
  font-size:4em;
  text-decoration:none;
  font-weight:600;
}

#download:hover {
    color:#FFF;
}

#download-src {
  display:block;
  margin-top:1em;
  text-align:center;
  text-transform:uppercase;
  color:#444;
  font-size:1em;
  text-decoration:none;
  font-weight:600;
}

#download-src:hover {
    color:#FFF;
}