/* Flexee featherweight grid system v2.0 by williampaix: williampaix.com/projects/flexee / http://github.com/wpaix/flexee */

//--------------------------------------------------------------------------------------------------

	// variable tweakers

	$xl_views_from: 1600px;
	$l_views_from:  1200px;		$l_views_to:  1599px;
	$m_views_from:   769px;		$m_views_to:  1199px;
	$s_views_from:   500px;		$s_views_to:   768px;
								$xs_views_to:  499px;

//--------------------------------------------------------------------------------------------------

	// fix just in case the helper classes aren't included
	.hide {display:none}

//--------------------------------------------------------------------------------------------------

	// grid clearfixin
	.grid:after { content:""; display:table; clear:both; }

	@mixin loop-behaviour($loop-number: 0, $loop-width: 0) {
		width:$loop-width+$loop-number;
		float:left;
		min-height:1px;
		
		> .box {
			margin: $gutter / 2;
		}
	}
	
//--------------------------------------------------------------------------------------------------

	// mutual styling definitions and fallback width definitions
	$width: 0%;
	@for $i from 0 through 100 {.xs#{$i}{ @include loop-behaviour( $loop-number: $i, $loop-width: $width) } }
	@for $i from 0 through 100 { .s#{$i}{ @include loop-behaviour( $loop-number: $i, $loop-width: $width) } }
	@for $i from 0 through 100 { .m#{$i}{ @include loop-behaviour( $loop-number: $i, $loop-width: $width) } }
	@for $i from 0 through 100 { .l#{$i}{ @include loop-behaviour( $loop-number: $i, $loop-width: $width) } }
	@for $i from 0 through 100 {.xl#{$i}{ @include loop-behaviour( $loop-number: $i, $loop-width: $width) } }

//--------------------------------------------------------------------------------------------------

	// xs/extra-small screen (phones)
	@media (max-width: $xs_views_to) {
		.hide-xs{display:none !important;}
		.show-xs{display:block !important;}
		.show-inline-xs{display:inline !important;}
		.show-inline-xs{display:inline-block !important;}
		@for $i from 0 through 100 { .xs#{$i}{width:$width+$i} }
	}

	// s/small screen (tablets)
	@media (min-width:$s_views_from) and (max-width: $s_views_to) {
	    .hide-s{display:none !important;}
	    .show-s{display:block !important;}
	    .show-inline-s{display:inline !important;}
		.show-inline-s{display:inline-block !important;}
	    @for $i from 0 through 100 { .s#{$i}{width:$width+$i} }
	}

	// m/medium screen (tablet/desktops)
	@media (min-width:$m_views_from) and (max-width: $m_views_to) {
		.hide-m{display:none !important;}
		.show-m{display:block !important;}
		.show-inline-m{display:inline !important;}
		.show-inline-m{display:inline-block !important;}
		@for $i from 0 through 100 { .m#{$i}{width:$width+$i} }
	}

	// l/large screen: (desktops)
	@media (min-width: $l_views_from) and (max-width: $l_views_to) {
		.hide-l{display:none !important;}
		.show-l{display:block !important;}
		.show-inline-l{display:inline !important;}
		.show-inline-l{display:inline-block !important;}
		@for $i from 0 through 100 { .l#{$i}{width:$width+$i} }
	}

	// xl/extra-large screen: (desktops)
	@media (min-width: $xl_views_from) {
		.hide-xl{display:none !important;}
		.show-xl{display:block !important;}
		.show-inline-xl{display:inline !important;}
		.show-inline-xl{display:inline-block !important;}
		@for $i from 0 through 100 { .xl#{$i}{width:$width+$i} }
	}

//--------------------------------------------------------------------------------------------------
